.idea/
logs/*
tmp/
phpinfo.php
nohup.out
swoole.lite.php
thirdpart.lite.php
/tests/app/tmpunit
/examples/web-chat-system/app/public/upload/
/examples/web-chat-system/config/*
!/examples/web-chat-system/app/public/upload/avatar/default
!/examples/web-chat-system/app/public/upload/group/default
!index.html
!/examples/web-chat-system/config/application.ini.sample
!/examples/web-chat-system/config/server.php.sample
!/examples/web-chat-system/config/webserver.php.sample